@(person: Form[CreatePersonForm])(implicit messages: Messages)

@import helper._

@main("API index") {
	@*<script type='text/javascript' src='@routes.Assets.versioned("javascripts/index.js")'></script>*@

	<ul id="persons"></ul>

  @form(routes.PersonController.addPerson()) {
	  @inputText(person("email"))
	  @inputText(person("login"))
	  @inputText(person("password"))

		<div class="buttons">
			<input type="submit" value="Add Person"/>
		</div>
	}

	<hr>
	<h2>API actions:</h2>
	<a href="/person/get">Person list</a><br/>
	<a href="/item/get">Item list</a><br/>
	<a href="/itemLent/get">ItemLent list</a>
}
